<% layout("/layouts/boilerplate")-%>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">

        
    <h3>Edit your Listing</h3>
    <form action="/listings/<%=listing._id%>?_method=PUT" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        
        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" id="" placeholder="Add a catchy title" class="form-control" value="<%=listing.title%>" required>
        <div class="valid-feedback">Title Looks Good!</div>

        </div>


        <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea  name="listing[description]" id="" placeholder="enter description" class="form-control" required><%=listing.description%></textarea>
        <div class="invalid-feedback">Please enter short description</div>

        </div>

        <!-- <div class="mb-3">
        <label for="ImageFilename" class="form-label">FileName</label>
        <input type="text" name="listing[image][filename]" id="" placeholder="enter filenaME" value="listingimage" class="form-control" value="<%=listing.image.filename%>">
        </div> -->
        Original Image <br>
        <div class="mb3 card">
            
            <img src="<%=originalUrl%>" alt="">
        </div>
        <div class="mb-3">
        <label for="ImageUrl" class="form-label">Upload New Image</label>
        <input type="file" name="listing[image]" id="" placeholder="enter url" class="form-control" value="<%=listing.image.url%>">
        <div class="valid-feedback">Please enter a valid URL</div>

        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input type="number" name="listing[price]" id="" placeholder="1200" class="form-control" value="<%=listing.price%>" required>
        <div class="invalid-feedback">Price should be valid</div>    

        </div>

        <div class="mb-3 col-md-8">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" id="" placeholder="Vadodara,Gujarat" class="form-control" value="<%=listing.location%>" required>
        <div class="invalid-feedback">Location should be valid</div>

        </div>
        </div>

        <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" name="listing[country]" id="" placeholder="India" class="form-control" value="<%=listing.country%>" required>
        <div class="invalid-feedback">Country name should be valid</div>

        </div>
        
        <button class="btn btn-dark add-btn mt-3">Edit</button><br><br>






        <!-- <input type="text" name="listing[title]" id="" value="<%=listing.title%>"><br><br>
        <textarea  name="listing[description]" id="" ><%=listing.description%></textarea><br><br>
        <input type="text" name="listing[image][filename]" id="" value="<%=listing.image.filename%>"><br><br>
        <input type="text" name="listing[image][url]" id="" value="<%=listing.image.url%>"><br><br>
        <input type="number" name="listing[price]" id="" value="<%=listing.price%>"><br><br>
        <input type="text" name="listing[location]" id="" value="<%=listing.location%>"><br><br>
        <input type="text" name="listing[country]" id="" value="<%=listing.country%>"><br>
        <br>
        <button>Edit</button> -->
    </form>
    </div>
    </div>
</body>
